/* modal.css */
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
.modal-box {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: flex;

  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    padding: 30px;
    width: 60%;
    max-width: 500px; /* Set a maximum width for larger screens */
    position: relative;
  }
  
  .cross-btn {
    width: 30px;
    height: 30px;
    background-color: #1b1b1b;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .modal-heading {
    text-align: center;
    color: #1b1b1b;
    font-size: 1.5rem;
    margin: 20px 0;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-entry {
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .comment-box {
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #000;
  }
  
  .form-btn {
    width: 50%;
    background-color: #000;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
  }
  #form-button{
    background-color: #e63333;
  }
  
  .form-content span {
    color: red;
  }
  
  @media only screen and (max-width: 600px) {
    .modal-form {
      width: 90%;
    }
  }
  